/* Header - Início */
header {
    width: 100%;
    background-color: black;
    position: fixed;
}

header nav div ul {
    margin-bottom: 0;
}

header ul li {
    display: inline-block;
    margin-left: 15px;
}

header ul li a {
    text-decoration: none;
    color: #9c0000;
    font-size: x-large;
}

.iconLogin {
    display: none;
}

header img {
    float: left;
    margin: 10px;
}

.menuPrincipal {
    float: left;
}

.menuPrincipal ul li {
    display: inline;
    margin: 10px;
}

#menuToggle {
    display: none;
}

/* Header - Fim */

/* Body - Início */
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
.desc{
    margin-left: 20px;
}
main {
    padding-top: 80px;
}

#banner{
    width: 100%;
    height: 400px;
}
.banner button a {
    text-decoration: none;
    color: #9c0000;
}

.banner button a:hover {
    color: white;
    background-color: #9c0000;
}

.banner button:hover {
    border-color: wheat;
    color: aliceblue;
    background-color: #9c0000;
}


.banner button {
    color: #9c0000;
    width: 130px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: rgb(168, 164, 164);
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
}


h1 {
    color: #9c0000;
    margin-left: 20px;
    text-align: left;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: block;
}

main section article p {
    color: rgb(197, 190, 188);
    width: 100%;
}

main section article a {
    text-decoration: none;
    color: #9c0000;
}

main section article button {
    color: #9c0000;
    width: 130px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: rgb(168, 164, 164);
    display: inline-block;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 25px;
}

main section article button:hover {
    background-color: #9c0000;
    border-color: wheat;
}

main section article a:hover {
    color: aliceblue;
}


.filmes {
    margin: 20px;
    display: inline;
    max-width: 100%;
}

footer {
    margin-top: 50px;
    text-align: center;
}

.filmes:hover {
    opacity: 0.60;
    transform: scale(1.1);
}

/* Body - Fim */

/* Footer - Início */


.copyright p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9c0000;
    font-size: 20px;
    display: inline;
}

.rodape ul li {
    display: inline;
}

.rodape a {
    text-decoration: none;
    color: #9c0000;
    font-size: x-large;
    margin-left: 15px;
}

/* Footer - Fim */

/* Media Queries */
@media screen and (max-width: 500px) and (min-width: 0px) {
    .banner {
        text-align: center;
    }

    .rodape ul {
        margin: 10px;
        padding: 0px;
        display: flex;
        ;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rodape ul li {
        display: block;
    }

    .menuPrincipal {
        margin-top: 15px;
    }

    .banner button {
        margin: 20px;
    }

    section article {
        text-align: center;
    }

    section article p {
        text-align: center;
        margin-bottom: 20px;
    }

    .imgBanner {
        width: 100%;
        height: 400px;
        display: block;
        object-fit: cover;
        max-height: 100%;
    }

    #filmes,
    #series,
    #docs {
        display: none;
    }

    .iconLogin {
        display: block;
    }

}